html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body > * {
  height: 100%;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: rgb(80, 80, 80);
}

.field {
  display: flex;
  flex-direction: column;
}

button {
  background: lightgray;
  border: none;
  color: rgb(80, 80, 80);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0 10px;
}

input {
  outline: none;
}
